* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 10px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 42px;
}

#title {
    margin: 0;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 36px;
    color: #D04F4F;
}

button {
    color: white;
    border-radius: 5px;
    border: none;
    background: none;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

ul[data-filter] {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    gap: 17px;
}

ul[data-filter] li {
    width: 30%;
    cursor: pointer;
}

input {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    width: 100%;
    padding: 0 20px;
}

.search {
    position: relative;
    margin-top: 17px;
}

.search-bar {
    width: 100%;
    background: #E7E7E7;
    border-radius: 5px;
    height: 70px;
    font-size: 18px;
}

.search-bar-icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.tags-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 10px 0;
}

.dropdown-container {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    position: relative;
}

#dropdown-open {
    border-radius: 5px 5px 0 0;
}

.tag-arrow {
    position: absolute;
    right: 20px;
    top: 25px;
}

.tags-search {
    width: 100%;
    height: 100%;
    color: white;
}

.tags-search::placeholder {
    font-weight: bold;
    color: white;
}

.dropdown-ingredients,
[data-filter="ingredients"] {
    background: #3282F7;
}

.dropdown-appareils,
[data-filter="appareils"] {
    background: #68D9A4;
}

.dropdown-ustensiles,
[data-filter="ustensiles"] {
    background: #ED6454;
}

.tag-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.tag-selected {
    display: flex;
    text-transform: capitalize;
    gap: 8px;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.tag-selected-delete {
    cursor: pointer;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #E7E7E7;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img {
    border-radius: 5px 5px 0px 0px;
    background-color: #C7BEBE;
    height: 178px;
}

.card-content {
    padding: 0 20px 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header p::before {
    content: '';
    display: block;
    background: url('../assets/icons/clock.svg') no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.card-details {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.card-ingredients {
    width: 50%;
}

.card-details p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.hidden {
    display: none !important;
}

.emptyList {
    text-align: center;
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

@media only screen and (min-width: 900px) {
    .tags-section {
        flex-direction: row;
    }
    ul[data-filter] {
        position: relative;
    }
    .dropdown-container {
        width: 20%;
    }
    #dropdown-open {
        width: 60%;
    }
    .card {
        width: 32%;
    }
}

@media only screen and (min-width: 750px) {
    body {
        padding: 0 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .card {
        width: 49%;
    }
}